/* Regole generali */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #083b4c;
}


/* Regole header */
h1{
    color: white;
    margin: 10px auto;
    width: 50%;
}

.h1-container{
    margin: 10px auto;
    font-size: 50px;
    width: 80%;
    border: solid 1px violet;
}



/* Regole Main */
#main-container{
    width: 80%;
    margin: 10px auto;
    border: solid 1px violet;
    height: 5000px;
}